.hp_1_bg {
    background-color: rgb(255, 248, 220);
}

.hp_2_bg {
    background-color: rgb(226, 255, 220);
}

.hp_3_bg {
    background-color: rgb(188, 235, 247);
}

.hp_4_bg {
    background-color: cornsilk;
}

.hp_5_bg {
    background-color: cornsilk;
}

.hp_6_bg {
    background-color: cornsilk;
}

.hp_7_bg {
    background-color: cornsilk;
}

.hp_8_bg {
    background-color: cornsilk;
}

.hp_9_bg {
    background-color: cornsilk;
}

.hp_10_bg {
    background-color: cornsilk;
}

.hp_11_bg {
    background-color: cornsilk;
}

.hp_12_bg {
    background-color: cornsilk;
}

.hp_13_bg {
    background-color: cornsilk;
}

.hp_14_bg {
    background-color: cornsilk;
}

.hp_15_bg {
    background-color: cornsilk;
}

.hp_1_text {
    color: blueviolet;
}

.hp_2_text {
    color: blueviolet;
}

.hp_3_text {
    color: blueviolet;
}

.hp_4_text {
    color: blueviolet;
}

.hp_5_text {
    color: blueviolet;
}

.hp_6_text {
    color: blueviolet;
}

.hp_7_text {
    color: blueviolet;
}

.hp_8_text {
    color: blueviolet;
}

.hp_9_text {
    color: blueviolet;
}

.hp_10_text {
    color: blueviolet;
}

.hp_11_text {
    color: blueviolet;
}

.hp_12_text {
    color: blueviolet;
}

.hp_13_text {
    color: blueviolet;
}

.hp_14_text {
    color: blueviolet;
}

.hp_15_text {
    color: blueviolet;
}