.hp_1_bg {
    background-color: rgb(255, 245, 245);
}

.hp_2_bg {
    background-color: rgb(255, 226, 163);
}

.hp_3_bg {
    background-color: rgb(255, 254, 206);
}

.hp_4_bg {
    background-color: rgb(228, 255, 194);
}

.hp_5_bg {
    background-color: rgb(190, 255, 241);
}

.hp_6_bg {
    background-color: rgb(153, 180, 255);
}

.hp_7_bg {
    background-color: rgb(158, 83, 255);
}

.hp_8_bg {
    background-color: rgb(246, 86, 252);
}

.hp_9_bg {
    background-color: rgb(255, 52, 187);
}

.hp_10_bg {
    background-color: white;
}

.hp_11_bg {
    background-color: white;
}

.hp_12_bg {
    background-color: white;
}

.hp_13_bg {
    background-color: white;
}

.hp_14_bg {
    background-color: white;
}

.hp_15_bg {
    background-color: white;
}

.hp_1_text {
    color: blueviolet;
}

.hp_2_text {
    color: blueviolet;
}

.hp_3_text {
    color: blueviolet;
}

.hp_4_text {
    color: blueviolet;
}

.hp_5_text {
    color: blueviolet;
}

.hp_6_text {
    color: blueviolet;
}

.hp_7_text {
    color: blueviolet;
}

.hp_8_text {
    color: blueviolet;
}

.hp_9_text {
    color: blueviolet;
}

.hp_10_text {
    color: blueviolet;
}

.hp_11_text {
    color: blueviolet;
}

.hp_12_text {
    color: blueviolet;
}

.hp_13_text {
    color: blueviolet;
}

.hp_14_text {
    color: blueviolet;
}

.hp_15_text {
    color: blueviolet;
}